@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --border: 216 34% 17%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-foreground antialiased selection:bg-primary/30;
}
